*{
	margin: 0;
	padding: 0;
}

html{
	font-size: 16px;
}

body{
	font-family: $font;
}

.logoWasap{
	display: block;
    width:70px;
    height:70px;
    color: #fff;
    position: fixed;
    right:60px;
    bottom:50px;
    z-index:101;
}
/*HEADER!!!!!*/
#header{
	display: flex;
	background-color: $colorHeader;
	flex-direction: row;
	flex-wrap: wrap;
	max-height: 130px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	margin: auto;
	border-bottom: 1px solid #ccc;
	justify-content: center;
	align-items: center;
	img{
		display: block;
		width: 100px;
		margin-right: 50px;
	}
	nav{
		display: flex;
		list-style: none;
		flex-direction: row;
		max-height: 120px;
		background-color: $colorHeader;
		.show{
			background-color: $colorHeader;
		}
		ul{
			margin-bottom: 0px;
				li{
				list-style-position: inside;	
				font-size: 22px;
				display: inline-block;
				margin: auto;
				font-weight: 700;
				padding: 0px 10px;
				a{
					text-decoration: none;
					color: $colorTextoPrimario;
				}	
			}
		}
	}
}


.carousel {
	margin-top: 100px;
	.carousel-caption {
		h1{
			font-size: 2.5rem;
			color: $colorTextoPrimario;
			font-style: bold;
		}
		h2{
			font-size: 1.5rem;
			color: $colorTextoPrimario;
			font-style: italic;
		}
	}
	.carousel-control-prev-icon, .carousel-control-next-icon {
		width: 40px;
		height: 40px;
	}
}

#contenedorProductosIndex{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 80px;
	max-width: 100%;
	flex-wrap: wrap;
	padding-bottom: 50px;
	
	.productos{
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		width: 80%;
		margin-top: 80px;
		img{
			padding: 10px;
			width: 300px;
			transition: 0.5s;
		}	
		img:hover{
			transform: scale(1.1);
		}
	}
}	

#sliderIndex{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 80px;
	max-width: 100%;
	flex-wrap: wrap;
	padding-bottom: 50px;
	background-color: $colorCuerpo;
	.imgContenedorSlider {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		width: 80%;
		margin-top: 80px;
		img{
			padding: 10px;
			width: 300px;
			transition: 0.5s;
		}	
		img:hover{
			transform: scale(1.1);
		}
	}
}	


.titulosContenedorIndex {
		font-size: 45px;
		text-align: center;
		margin-top: 2em;
		span {
			background-color: $colorFooter;
			color: $colorTextoSecundario;	
		}
	}

/*FOOTER!!!!!!!!!!*/


#footer{
	display: grid;
	grid-template-columns: 35% 30% 35%;
	grid-template-areas: 
	"informacion novedades redesSociales";
	background-color: $colorFooter;
	padding-top: 15px;
	padding-bottom: 5px;
	color: $colorTextoSecundario;
	font-weight: 400;
	.cajaIzquierda{
		grid-area: informacion;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		.infoFooter{
			margin: 10px 0px;
			p{
				display: flex;
				flex-direction: column;
				margin-bottom: 0.5em;
				text-decoration: none;
				text-align: center;
				color: $colorTextoSecundario;
			}
		}
	}
	.cajaCentro{
		grid-area: novedades;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		.novedadesFooter {
			margin: 10px 0px;
			a{
				display: flex;
				flex-direction: column;
				margin-bottom: 0.5em;
				text-decoration: none;
				text-align: center;
				color: $colorTextoSecundario;
			}
		}
	}
	.cajaDerecha{
		grid-area: redesSociales;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		.redesSociales {
			margin: 10px 0px;
			display: flex;
			flex-direction: row;
			img{
				display: flex;
				width: 40px;
				padding: 0px 5px;
			}
		}
	}
}

@media all and (max-width: 700px) {
	#footer{
		grid-template-columns: 100%;
		grid-template-areas: 
		"informacion"
		"novedades" 
		"redesSociales";
		.cajaIzquierda, .cajaCentro, .cajaDerecha{
			margin-bottom: 30px;
		}
	}
}


.clear{
	clear: both;
}

/*GENERAL PAGINAS!!!!!!!!*/

.botonVolver{
	display: flex;
	margin: auto;
	justify-content: center;
	margin-bottom: 20px;
	a{
		font-size: 1.1rem;
		letter-spacing: 0.20em;
		display: block;
		line-height: 20px;
		background: radial-gradient(circle, rgba(248,220,129,1) 0%, rgba(239,247,225,1) 50%, rgba(248,220,129,1) 100%);
		text-decoration: none;
		color: $colorTextoPrimario;
		font-weight: bold;
		text-transform: capitalize;
		padding: 7px;
		cursor: pointer;
	}
	a:hover{
	background: radial-gradient(circle, rgba(239,247,225,1) 0%, rgba(248,220,129,1) 50%, rgba(239,247,225,1) 100%);
	transform: scale(1.15);
	transition: 0.3s;
	text-decoration: none;
	color: $colorTextoPrimario;
	}
}

.textoExtendido{
	max-width: 70%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	p{
		font-size: 18px;
		font-style: normal;
		word-spacing: 0.5px;
	}
}

.titulosPrincipales {
	margin-top: 150px;
	font-size: 32px;
	color: $colorTextoPrimario;
	text-align: center;
	font-weight: $font-bold;
}


.contVideos{
	display: flex;
	max-width: 80%;
	margin: 100px auto;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	iframe{
		padding: 20px;
		max-width: 80%;
	}
}

/*NOSOTROS!!!!!!!!!*/

.contNosotrosImagen{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 100px auto;
	flex-wrap: wrap;
	max-width: 80%;
	img{
		width: 300px;
		padding: 10px;
		max-width: 80%;
	}
}


/*MUEBLES!!!!!!!*/

.contMueblesImagen{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 100px auto;
	flex-wrap: wrap;
	max-width: 80%;
	img{
		width: 300px;
		padding: 10px;
		max-width: 80%;
	}
}

/*ENVIOS!!!!!!!!!!*/


.animacionEnviosCont{
	width: 750px;
	height: 160px;
	margin: auto;
	margin: 30px auto;
	overflow: hidden;
}
@keyframes animaEnvio {

	0%{
		margin-left: -200px;
	}
	10%{
		margin-left: 0px;
	}
	20%{
		margin-left: 200px;
	}
	30%{
		margin-left: 400px;
	}
	40%{
		margin-left: 600px;
		transform: rotateY(0deg);
	}
	50%{
		margin-left: 800px;	
		transform: rotateY(180deg);
	}
	60%{
		margin-left: 600px;
		transform: rotateY(180deg);
	}
	70%{
		margin-left: 400px;
		transform: rotateY(180deg);
	}
	80%{
		margin-left: 200px;
		transform: rotateY(180deg);
	}
	90%{
		margin-left: 0px;
		transform: rotateY(180deg);
	}
	100%{
		margin-left: -200px;
		transform: rotateY(0deg);
	}
}

@media all and (max-width: 760px) {
	.animacionEnviosCont{
	width: 400px;
	height: 160px;
	margin: auto;
	margin: 30px auto;
	overflow: hidden;
}
@keyframes animaEnvio {

	0%{
		margin-left: -200px;
	}
	10%{
		margin-left: -50px;
	}
	20%{
		margin-left: 100px;
	}
	30%{
		margin-left: 250px;
	}
	40%{
		margin-left: 400px;
		transform: rotateY(0deg);
	}
	50%{
		margin-left: 550px;	
		transform: rotateY(180deg);
	}
	60%{
		margin-left: 400px;
		transform: rotateY(180deg);
	}
	70%{
		margin-left: 250px;
		transform: rotateY(180deg);
	}
	80%{
		margin-left: 100px;
		transform: rotateY(180deg);
	}
	90%{
		margin-left: -50px;
		transform: rotateY(180deg);
	}
	100%{
		margin-left: -200px;
		transform: rotateY(180deg);
	}
}
}


.animacionImagen{
	width: 150px;
	animation-name: animaEnvio;
	animation-iteration-count: infinite;
	animation-duration: 6s;
	animation-timing-function: linear;
}


.tituloTable{
	display: flex;
	margin: 30px auto;
	flex-direction: column;
	align-items: center;
	h3{
		font-weight: bold;
		font-size: 30px;
		padding: 15px;
	}
}
.listasTablas {
	color: $colorTextoSecundario;
	font-weight: $font-medium;
	list-style-position: inside;
	.tablasIconoEnvios{
		list-style-position: inside;
	}
}

/*SERVICIOS"!""*/

.container{
	margin-bottom: 50px;
	iframe{
		margin-top: 50px;
		padding-bottom: 30px;
	}
}

/*CONTACTO!!!!!!!!!!!!*/

#contacto{
	display: flex;
	margin: auto;
	margin-top: 200px;
	margin-bottom: 100px;
	.formulario{
		display: flex;
		flex-direction: column;
		padding: 35px 60px;
		align-items: center;
		background-color: $colorCuerpo;
		h3{
			font-weight: $font-bold;
		 	padding: 10px 10px 30px;
		 	font-size: 1.7rem;
			text-transform: uppercase;	
			margin: auto;
		}
		form{
			display: flex;
			flex-direction: column;
			padding: 15px 50px;
			.btn-secondary{
				background-color: grey;
				color: $colorTextoPrimario;
			}	
			textarea{
				resize: none;
			}		
		}
		.botonForm{
			margin: 10px 0px;

		}
	}
}

#mapaUbicacion{
	display: flex;
	width: 100%;
	height: 500px;
	margin-bottom: 100px;
}