@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.type-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

.type-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.type-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500; }

.type-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px; }

body {
  font-family: "Roboto", sans-serif; }

.logoWasap {
  display: block;
  width: 70px;
  height: 70px;
  color: #fff;
  position: fixed;
  right: 60px;
  bottom: 50px;
  z-index: 101; }

/*HEADER!!!!!*/
#header {
  display: flex;
  background-color: #f8dc81;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 130px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  margin: auto;
  border-bottom: 1px solid #ccc;
  justify-content: center;
  align-items: center; }
  #header img {
    display: block;
    width: 100px;
    margin-right: 50px; }
  #header nav {
    display: flex;
    list-style: none;
    flex-direction: row;
    max-height: 120px;
    background-color: #f8dc81; }
    #header nav .show {
      background-color: #f8dc81; }
    #header nav ul {
      margin-bottom: 0px; }
      #header nav ul li {
        list-style-position: inside;
        font-size: 22px;
        display: inline-block;
        margin: auto;
        font-weight: 700;
        padding: 0px 10px; }
        #header nav ul li a {
          text-decoration: none;
          color: #000; }

.carousel {
  margin-top: 120px; }
  .carousel .carousel-caption h1 {
    font-size: 2.5rem;
    color: #000;
    font-style: bold; }
  .carousel .carousel-caption h2 {
    font-size: 1.5rem;
    color: #000;
    font-style: italic; }
  .carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
    width: 40px;
    height: 40px; }

#contenedorProductosIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 80px;
  max-width: 100%;
  flex-wrap: wrap;
  padding-bottom: 50px; }
  #contenedorProductosIndex .productos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 80px; }
    #contenedorProductosIndex .productos img {
      padding: 10px;
      width: 300px;
      transition: 0.5s; }
    #contenedorProductosIndex .productos img:hover {
      transform: scale(1.1); }

@media all and (max-width: 760px) {
  #contenedorProductosIndex .productos img {
    padding: 10px 0px; } }
#sliderIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 80px;
  max-width: 100%;
  flex-wrap: wrap;
  padding-bottom: 50px;
  background-color: #a2d0c1; }
  #sliderIndex .imgContenedorSlider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 80px; }
    #sliderIndex .imgContenedorSlider img {
      padding: 10px;
      width: 300px;
      transition: 0.5s; }
    #sliderIndex .imgContenedorSlider img:hover {
      transform: scale(1.1); }

@media all and (max-width: 760px) {
  #sliderIndex .imgContenedorSlider img {
    padding: 10px 0px; } }
.titulosContenedorIndex {
  font-size: 45px;
  text-align: center;
  margin-top: 2em; }
  .titulosContenedorIndex span {
    background-color: #214151;
    color: #fff; }

/*FOOTER!!!!!!!!!!*/
#footer {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-areas: "informacion novedades redesSociales";
  background-color: #214151;
  padding-top: 15px;
  padding-bottom: 5px;
  color: #fff;
  font-weight: 400; }
  #footer .cajaIzquierda {
    grid-area: informacion;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    #footer .cajaIzquierda .infoFooter {
      margin: 10px 0px; }
      #footer .cajaIzquierda .infoFooter p {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5em;
        text-decoration: none;
        text-align: center;
        color: #fff; }
  #footer .cajaCentro {
    grid-area: novedades;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    #footer .cajaCentro .novedadesFooter {
      margin: 10px 0px; }
      #footer .cajaCentro .novedadesFooter a {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5em;
        text-decoration: none;
        text-align: center;
        color: #fff; }
  #footer .cajaDerecha {
    grid-area: redesSociales;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    #footer .cajaDerecha .redesSociales {
      margin: 10px 0px;
      display: flex;
      flex-direction: row; }
      #footer .cajaDerecha .redesSociales img {
        display: flex;
        width: 40px;
        padding: 0px 5px; }

@media all and (max-width: 700px) {
  #footer {
    grid-template-columns: 100%;
    grid-template-areas: "informacion" "novedades"  "redesSociales"; }
    #footer .cajaIzquierda, #footer .cajaCentro, #footer .cajaDerecha {
      margin: 20px 0px; } }
.clear {
  clear: both; }

/*GENERAL PAGINAS!!!!!!!!*/
.botonVolver {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 20px; }
  .botonVolver a {
    font-size: 1.1rem;
    letter-spacing: 0.20em;
    display: block;
    line-height: 20px;
    background: radial-gradient(circle, #f8dc81 0%, #eff7e1 50%, #f8dc81 100%);
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
    padding: 7px;
    cursor: pointer; }
  .botonVolver a:hover {
    background: radial-gradient(circle, #eff7e1 0%, #f8dc81 50%, #eff7e1 100%);
    transform: scale(1.15);
    transition: 0.3s;
    text-decoration: none;
    color: #000; }

.textoExtendido {
  max-width: 60%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px; }
  .textoExtendido p {
    font-size: 18px;
    font-style: normal;
    word-spacing: 0.5px; }

@media all and (max-width: 760px) {
  .textoExtendido {
    max-width: 90%; } }
.titulosPrincipales {
  margin-top: 150px;
  font-size: 32px;
  color: #000;
  text-align: center;
  font-weight: 700; }

.contVideos {
  display: flex;
  max-width: 80%;
  margin: 100px auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .contVideos iframe {
    padding: 20px;
    max-width: 80%; }

/*NOSOTROS!!!!!!!!!*/
.contNosotrosImagen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px auto;
  flex-wrap: wrap;
  max-width: 80%; }
  .contNosotrosImagen img {
    width: 300px;
    padding: 10px;
    max-width: 80%; }

@media all and (max-width: 575px) {
  .contNosotrosImagen {
    max-width: 100%; }
    .contNosotrosImagen img {
      padding: 10px 0px;
      max-width: 100%; } }
/*MUEBLES!!!!!!!*/
.contMueblesImagen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px auto;
  flex-wrap: wrap;
  max-width: 80%; }
  .contMueblesImagen img {
    width: 300px;
    padding: 10px;
    max-width: 80%; }

@media all and (max-width: 575px) {
  .contMueblesImagen {
    max-width: 100%; }
    .contMueblesImagen img {
      padding: 10px 0px;
      max-width: 100%; } }
/*ENVIOS!!!!!!!!!!*/
.animacionEnviosCont {
  width: 750px;
  height: 160px;
  margin: auto;
  margin: 30px auto;
  overflow: hidden; }

@keyframes animaEnvio {
  0% {
    margin-left: -200px; }
  10% {
    margin-left: 0px; }
  20% {
    margin-left: 200px; }
  30% {
    margin-left: 400px; }
  40% {
    margin-left: 600px;
    transform: rotateY(0deg); }
  50% {
    margin-left: 800px;
    transform: rotateY(180deg); }
  60% {
    margin-left: 600px;
    transform: rotateY(180deg); }
  70% {
    margin-left: 400px;
    transform: rotateY(180deg); }
  80% {
    margin-left: 200px;
    transform: rotateY(180deg); }
  90% {
    margin-left: 0px;
    transform: rotateY(180deg); }
  100% {
    margin-left: -200px;
    transform: rotateY(0deg); } }
@media all and (max-width: 760px) {
  .animacionEnviosCont {
    width: 320px;
    height: 160px;
    margin: auto;
    margin: 30px auto;
    overflow: hidden; }

  @keyframes animaEnvio {
    0% {
      margin-left: -200px; }
    10% {
      margin-left: -50px; }
    20% {
      margin-left: 100px; }
    30% {
      margin-left: 250px; }
    40% {
      margin-left: 400px;
      transform: rotateY(0deg); }
    50% {
      margin-left: 550px;
      transform: rotateY(180deg); }
    60% {
      margin-left: 400px;
      transform: rotateY(180deg); }
    70% {
      margin-left: 250px;
      transform: rotateY(180deg); }
    80% {
      margin-left: 100px;
      transform: rotateY(180deg); }
    90% {
      margin-left: -50px;
      transform: rotateY(180deg); }
    100% {
      margin-left: -200px;
      transform: rotateY(180deg); } } }
.animacionImagen {
  width: 150px;
  animation-name: animaEnvio;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-timing-function: linear; }

.tituloTable {
  display: flex;
  margin: 30px auto;
  flex-direction: column;
  align-items: center; }
  .tituloTable h3 {
    font-weight: bold;
    font-size: 30px;
    padding: 15px; }

.listasTablas {
  color: #fff;
  font-weight: 500;
  list-style-position: inside; }
  .listasTablas .tablasIconoEnvios {
    list-style-position: inside; }

/*SERVICIOS"!""*/
.container {
  margin-bottom: 50px; }
  .container iframe {
    margin-top: 50px;
    padding-bottom: 30px; }

/*CONTACTO!!!!!!!!!!!!*/
#contacto {
  display: flex;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 100px; }
  #contacto .formulario {
    display: flex;
    flex-direction: column;
    padding: 35px 60px;
    align-items: center;
    background-color: #a2d0c1; }
    #contacto .formulario h3 {
      font-weight: 700;
      padding: 10px 10px 30px;
      font-size: 1.7rem;
      text-transform: uppercase;
      margin: auto; }
    #contacto .formulario form {
      display: flex;
      flex-direction: column; }
      #contacto .formulario form .btn-secondary {
        background-color: grey;
        color: #000; }
      #contacto .formulario form textarea {
        resize: none; }
    #contacto .formulario .botonForm {
      margin: 10px 0px; }

#mapaUbicacion {
  display: flex;
  width: 100%;
  height: 500px;
  margin-bottom: 100px; }

.graciasForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 350px;
  height: 150px;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #214151;
  color: white; }

@media all and (max-width: 575px) {
  .graciasForm {
    width: 250px; } }

/*# sourceMappingURL=estilos.css.map */
